.calculator {
  width: 12rem;
}

.calcInputButton {
  width: 25%;
  font-size: large;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  border: 2px solid black;
  border-radius: 4px;

  background-color: lightgray;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
}

.display {
  width: 100%;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;

  font-size: large;
  text-align: right;

  border: 2px solid black;
  border-radius: 4px; 
  
  background-color: lightgray;
  font-family: 'Courier New', Courier, monospace;
}
